<div class="oneEvent">
    <div class="event-left">
        <div class="event-date">
            <div class="date">{{event.event_date}}aug</div>
        </div>
    </div>
    <div class="event-right">
        <h3 class="event-title">{{event.name}}pop</h3>
        <div class="event-description">{{event.description}} Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Natus provident numquam laboriosam commodi, atque voluptatibus!</div>
        <div class="event-timing">
            <div>{{event.event_time}}10:00</div>
        </div>
        <div class="event-place">{{event.venue}} venue</div>
        <div class="event-place">{{event.location}} tyler mall</div>
    </div>
</div>