<div class="oneEvent">
    <div class="event-left">
        <div class="event-date">
            <div class="date">{{event_date}}</div>
        </div>
    </div>
    <div class="event-right">
        <h3 class="event-title">{{name}}</h3>
        <div class="event-description">{{description}}</div>
        <div class="event-bottom-half">
            <div class="event-timing">
                <div>{{event_time}}</div>
            </div>
            <div class="event-ven-place">
                <div class="event-place">{{venue}}</div>
                <div class="event-place">{{location}}</div>
            </div>
        </div>
    </div>
</div>